@use '../../styles/fonts' as *;
@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    padding: 0.5rem 1rem;

    @include tablet {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
        padding: 1rem 2rem;
    }

    @include desktop {
        padding: 1.25rem 10rem;
    }

    &__top {
        
        &-logo {
            width: 10rem;
        }

    }

}