@use '../../styles/fonts' as *;
@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inspiration {
    padding: 0.5rem 1rem;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;

    @include tablet {
        padding: 1rem 2rem;
    }

    @include desktop {
        padding: 1.25rem 10rem;
    }
}